a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

// .navbar-dark .navbar-brand {
//   font-size: 2rem;
//   font-weight: 200;
//   color: #e84545;
// }

// .navbar-dark .navbar-brand:hover {
//   color: rgba(232, 69, 69, 0.9);
// }

// .navbar-dark .navbar-nav .nav-link {
//   color: rgba(232, 69, 69, 0.6);
//   font-size: 2em;
//   font-weight: 200;
// }

// .navbar-dark .navbar-nav .nav-link.active {
//   color: #e84545;
// }



// .navbar-dark .navbar-nav .nav-link:hover {
//   color: rgba(232, 69, 69, 0.9);
// }