$carousel-border-size: 2px;
$carousel-border-radius: 30px;

.carousel {
    border: $carousel-border-size solid black;
    border-radius: $carousel-border-radius;
    overflow: hidden;
    background-color: bisque;
    min-height: 500px;
}

.carousel-indicators{
    background-color: red;
}

$album-img-size: 500px;

.album-img {
    height: $album-img-size;
    width: $album-img-size;
    border-top-left-radius: $carousel-border-radius - $carousel-border-size;
    border-bottom-left-radius: $carousel-border-radius - $carousel-border-size;
    float: left;
}

.artist-details {
    text-align: center;
    padding-top: 20px;
    // width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // align-items: stretch;
    //position: absolute;
    //right: 600px;
}

.carousel-caption {
    color: red;
}

.edit-icon {
    position: relative;
    top: 30px;
    text-align: right;
    margin-left: auto;
    z-index: 20;
    padding-right: 15px;
}