<ngb-carousel [ngClass]="this.themeService.getTheme() == 'dark' ? 'carousel-dark' : 'carousel-light'" [interval]="0">
	<ng-template ngbSlide *ngFor="let info of featuredArtistsInfo">

		<i *ngIf="userService.isAdmin" class="edit-icon bi-pencil-fill" style="color: red; cursor: pointer;" routerLink="featured-artists/edit">Edit</i>
		
		<img [src]="info.imgSrc" class="album-img" alt="First slide" />
			
		<div class="artist-details">
			<h3>{{info.bandName}}</h3>
			<p>{{info.description}}</p>
		</div>

		<div class="carousel-caption">
			caption
		</div>
	</ng-template>
</ngb-carousel>